/* imports */
@import "./imports/_mixins.less";
@import "./imports/_variables.less";

/* base styles */
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;

}

/* typography */
body {
    font-family: 'Proxima Nova Rg', Georgia, sans-serif;

    display: flex;
    flex-direction:column;
    justify-content: space-between;
}
h1,h2,h3,p,textarea {
  margin-top: 0;
}

span {
  &.bold {
    font-weight: bold;
  }
}

.small {
  margin-top: 30px;
  font-size: 14px;
}

.pull {
  &--right {
    float: right;
  }
}
.link {
  text-decoration: none;

  &--white {
    color:#ffffff;
  }
  
  &--vk {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('../img/vk-xxl.png'); 
    background-size: contain;
    margin-right: 15px;

    &:hover {
      background-color: red;
      border-radius: 6px;
    }
  }

  &--ig {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('../img/instagram-xxl.png'); 
    background-size: contain;
    margin-right: 15px;

    &:hover {
      background-color: red;
      border-radius: 6px;
    }
  }
  &:hover {
    text-decoration: underline;
  }
}

/* containers */

.body {
  &--form {
    background-image: url('../img/form-bg.png');
    background-repeat: no-repeat;
    background-size: cover;

    @media @mobiles {
      background-repeat: repeat;
    }
  }
}

.container {
  height: 100%;
  &--fluid {
    padding: 0 35px;
  }
}

.main {
  &--top {
    height: 100%;
    
    margin-top: 70px;
  }
}

/* buttons */
.btn {
  display: block;
  width: auto;
  border-radius: 14px;
  text-transform: uppercase;

  border: none;
  padding: 0 30px;
  

  line-height: 40px;
  text-decoration: none;
  cursor:pointer;

  transition: background-color 0.3s ease;
  &--blue {
    color: #ffffff;
    background-color: @btn--blue;

    &:hover {
      background-color: lighten(@btn--blue,7%);      
    }
  }

  &--red {
    color: #ffffff;
    background-color: @btn--red;

    &:hover {
      background-color: lighten(@btn--red,7%);      
    }
  }
}

/* navbar */
.navbar {
  background-color: #000000;
  color: #ffffff;
  
  height: 70px;
  z-index: 999;
  
  &__logo {
    width: 100px;
    height: 70px;
    background-image: url(../img/logo.png);
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;

    margin-right: 35px;
  }

  &--top {
    position: fixed;
    top: 0;
    width: 100%;
  }

  &__links {
    display: inline-block;
    vertical-align: middle;
    padding: 20px 0;
    font-size: 0;
    @media @mobiles {
      display: none;
    }    
  }
  &__phones {
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    padding: 15px 0;

    @media @mobiles {
      display: none;
    }
  }
}

/* menu */

.menu {
  margin: 0;
  padding: 0;

  display: inline-block;
  vertical-align: middle;
  


  &__item {
    display: inline-block;
    margin-right: 15px;
    
    cursor: pointer;
    @media @mobiles {
      display: block;

      &:hover {
        background-color: #F26436;
      }
    }
  }

  &__link {
    color:#ffffff;
    text-decoration: none;

    font-size: 14px;
    line-height: 70px;

    cursor:pointer;
    
    text-transform: uppercase;

    &:hover {
      color:#ffffff;      
      text-decoration: underline;
    }

    @media @mobiles {
      padding:0 30px;
    }
  }

  &__toggler {
    display: none;

    @media @mobiles {
      position: absolute;
      right: 35px;
      top:22px;

      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 26px;
      height: 24px;
      cursor: pointer;


      span {
          width: 100%;
          height: 4px;
          background: #fff;
      }
    }
  }

  @media @mobiles {
    display: none;
    background-color: #000000;
    
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    margin: auto;
    
    &.active {
      display: block;
    }
  }

  
}


/* header */
.header { 
  
  color: #ffffff;
  padding: 85px 0;
  
  @media @mobiles {
    padding: 45px 0;
  }
  margin-top: 70px;

  &__logo {
    width: 28%;
    position: absolute;
    left: -12%;
    bottom: -85px;

    @media @mobiles {
      display: none;
    }
  }

  &__form {
    padding: 0;
    max-width: 380px;
    @media @mobiles {
      margin: auto;
      max-width: 280px;
    }
  }
}

/* sections */
.section {
  padding: 65px 0;

  @media @mobiles {
    padding: 30px 0;
  }
  &--pattern {
    background-size: cover;
    background-position: center;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    &--white {
      color: #ffffff;
    }
  }

  &__subtitle {
    text-align: center;
    font-size: 21px;
    color: #Ffffff;
  }
}

/* patterns */
.pattern {
  &--redorange {
    background-image: url('../img/pattern-redorange.png');

    @media @mobiles {
      background-position: 0 0;
    }
  }

  &--blue-small {
   background-image: url('../img/pattern-blue-small.png'); 
  }
  
  &--blue-big {
   background-image: url('../img/pattern-blue-big.png'); 
  }
  
  &--blue-2 {
   background-image: url('../img/pattern-blue-2.png'); 
  }

  &--red {
   background-image: url('../img/pattern-red.png'); 
  }
}



/* images */

.img {
  &--responsive {
    display: block;
    width: 100%;
    height: auto;
  }
}


/* promoblock */
.promo {
  padding-top: 30px;
  color: #ffffff;

  @media @mobiles {
    text-align: center;
  }
  &__hashtag {
    font-family: 'Proxima Nova Rg';
    color: #000000;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    margin-bottom: 15px;

    @media @mobiles {
      font-size: 28px;
      color:#ffffff;
    }
  }

  &__title {
    font-family: 'Proxima Nova Rg';
    font-size: 36px;
    font-weight: 700;
    line-height: 33px;
    
    @media @mobiles {
      font-size: 26px;
    }
    &--big {
      margin-top: 45px;
      font-size: 36px;
    }
  }

  &__subtitle {
    font-weight: 700;
    line-height: 22px;
    font-size: 16px;
    margin-bottom: 0;
    
    &--big {
      font-size: 24px;
      font-weight: bold;
    }
    &:last-child {
      margin-bottom: 20px;
    }
  }
}



/* rules */
.rules {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;

  margin-bottom: 15px;


  @media @mobiles {
    display: block;
    text-align: center;
  }
}
.rule {
  text-align: center;


  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;

  max-width: 240px;

  padding: 30px 20px;
  
  margin-right: 70px;

  &:last-child {
    margin-right: 0;
  }

  @media @mobiles {
    margin-right: 0;
  }
  &--1 {
    background-image: url('../img/rule-bg-1.png');
  } 

  &--2 {
    background-image: url('../img/rule-bg-2.png');
  }

  &--3 {
    background-image: url('../img/rule-bg-3.png');
  }
  
  &--4 {
    background-image: url('../img/rule-bg-4.png');
  }
  
  &--5 {
    background-image: url('../img/rule-bg-5.png');
  }

  &--6 {
    background-image: url('../img/rule-bg-6.png');
  }


  &__image {
    overflow: hidden;
    width: 90px;
    display: inline-block;
    margin: 15px 0 0 0;
  }
  &__title {
    font-size: @font-size;
    color: @blue-header;
    margin-bottom: 5px;
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
  }
  &__text {
    font-size: @font-size;
    line-height: 1.5;
    text-align: center;
  }

  @media @mobiles {
    display: inline-block;
  }
}



/* demands */


.demand {
  text-align: center;
  margin-bottom: 30px;
  
  @media @mobiles {
    margin-bottom: 15px;
  }

  &__image {
    width:  100px; 
    float: left;
    margin-right: 30px;

    @media @mobiles {
      margin-right: 0;
      margin-bottom: 5px;
      float: none;
      display: inline-block;
    }
  }

  &__desc {
    margin-left: 130px;
    max-width: 350px;
    @media @mobiles {
      margin: auto;
    }
  }

  &__title {
    font-size: @font-size;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
    @media @mobiles {
      text-align: center;
    }
  }

  &__text {
    font-size: @font-size;
    line-height: 1.5;
    text-align: left;
    @media @mobiles {
      text-align: center;
    }
  }
}


/* forms */ 
.form {
  height: 100%;
  &__inner--bordered {
    background-image: url('../img/form.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 35px 75px;

    @media @mobiles {
      padding: 35px;
    }
  }
  
  &__inner--bordered-2 {
    background-image: url('../img/form-bg-2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding:35px 85px 35px 70px;
  }

  &__title {
    color: #000000;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;

    @media @mobiles {
      font-size: 18px;
      margin-bottom: 0;
    }
  }

  &__fields {
    text-align: center;
    &--flex {
      display: flex;
      flex-direction: row;
      margin-bottom: 15px;

      @media @mobiles {
        display: block;
      }
    }
  }
  
  &__field {
    display: block;
    width: 100%;

    padding: 5px 20px;
    
    margin-bottom: 15px;
    
    height: 40px;
    border-radius: 14px;
    
    border: 2px solid #000000;
    font-size: 16px;

    &.error {
      border: 2px solid #EB3836;
    }
    @media @mobiles {
      margin-bottom: 10px;
    }
    &--flex {
      margin-bottom: 0;
      margin-right: 20px;

      @media @mobiles {
        margin-bottom: 15px;
      }
    }
  }

  &__button {
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;

    @media @mobiles {
      font-size: 18px;
    }
  }
}


/* results */

.results {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  

  @media @mobiles {
    display: block;
    text-align: center;
  }
  &__item {
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.result {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;

  max-width: 220px;
  padding: 25px 20px;
  
  &:nth-child(1) {
    background-image: url('../img/result-bg-1.png');
  } 

  &:nth-child(2) {
    background-image: url('../img/result-bg-2.png');
  }

  &:nth-child(3) {
    background-image: url('../img/result-bg-3.png');
  }

  &:nth-child(4) {
    background-image: url('../img/result-bg-4.png');
  }
  &:nth-child(5) {
    background-image: url('../img/result-bg-5.png');
  }
  &__image {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
  }
  &__text {
    text-align: center;
    padding: 0 15px;
    margin-bottom: 0;
    white-space: nowrap;
  }

  @media @mobiles {
    display: inline-block;
    margin-bottom: 30px;
  }
}

/* about */

.about {
  &__title {
    margin-bottom: 50px;
    text-align: left;
    @media @mobiles {
      text-align: center;
    }
  }

  &__list {
    margin:0;
    margin-left: 30px;
    padding: 0;  
    list-style: none;
  

    @media @mobiles {
      margin-left: 0;
    }

  }

  &__item {
    font-size: 16px;
    margin-bottom: 30px;
    position: relative;
    
    @media @mobiles {
      text-align: center;
    }

    &:before {
      content: "";
      width: 18px;
      height: 18px;
      background-image: url('../img/check.png');
      background-repeat: no-repeat;
      background-size: cover;

      position: absolute;
      left: -50px;
      top:5px;

      @media @mobiles {
        content: none;
      }
    }
  }

  &__text {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 30px;
    @media @mobiles {
      text-align: center;
    }
  }

  &__form {
    @media @mobiles {
      padding:0 30px;
    }
  }
}


/* plans */
.plans {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  @media @mobiles {
    display: block;
    text-align: center;   
  }
}
.plan {
  position: relative;
  text-align: center;
  
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; 

  margin-right: 20px;

  @media @mobiles {
    margin-right: 0;
  }
  
  &:nth-child(1) {
    background-image: url('../img/plan-1.png');  
  }
  &:nth-child(2) {
    background-image: url('../img/plan-2.png');  
  }
  &:nth-child(3) {
    background-image: url('../img/plan-3.png');  
  }

  &:last-child {
    margin-right: 0;
  }

  &__inner {
    padding:50px 20px;
    max-width: 265px;
  }

  &__title {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  &__price {
    font-size: 36px;
    line-height: 44px; 
    font-weight: bold;
    color: #12affe;
    margin-bottom: 15px;
  }
  
  &__desc {
    margin-bottom: 30px;

    font-size: 16px;
    font-weight: normal;
  }

  &__text {
    margin-bottom: 5px;

  }

  &__adds {
    margin-bottom: 15px;
  }

  &__button {
    margin-bottom: 15px;
  }

  @media @mobiles {
    display: inline-block;
    margin-bottom: 30px;
  }
}


/* blockquote */

.blockquote {
  border-radius: 8px;
  border: 2px solid #000000;
  background-color: #f5f5f5;

  padding: 50px;

  text-align: center;

  @media @mobiles {
    border:none;
    background-color: #ffffff;
    padding:0;
  }

  &__title {
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    text-transform: uppercase;
  }

  &__text {
    font-size: 16px;
  }
}


.additions {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;


  @media @mobiles {
    display: block;
    text-align: center;
  }

  &__item {
    max-width: 260px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 

    padding: 30px;
  

    @media @mobiles {
      margin-right: 0;
    }

    &:nth-child(1) {
      background-image: url('../img/add-bg-2.png');  
    }
    &:nth-child(2) {
      background-image: url('../img/add-bg-2.png');  
    }
    &:first-child {
      margin-right: 30px;
      @media @mobiles {
        margin-right: 0;
      }
    }

    @media @mobiles {
      display: inline-block;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

}
.reviews {
  text-align: center;

  left: 0;
  right: 0;
  margin: auto;
}

.reviews__list {
  display: block;
  list-style: none;
  text-align: center;

}

.review {
  display: inline-block;
  
  &__title {

  }

  &__inner {
    max-width: 700px;
    margin: auto;
    padding: 70px;
    margin-bottom: 50px;
    position: relative;

    perspective:350px;

    @media @mobiles {
      padding: 35px 35px 70px 35px;
    }

  }
  
  &__inner-bg {
    width: 100%;
    height: 100%;
    background: #ffffff;
    border: 2px solid #000000;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    border-radius: 15px;
    transform:rotateX(-10deg) translateZ(-35px) translateX(11px) translateY(25px) rotateY(3deg);

    @media @mobiles {
      transform:none;
    }
  }

  &__text {
    text-align: center;
    margin-bottom: 15px;

    &--bold {
      text-align: center;
      font-weight: bold;
    }
  }

  &__photo {
    width: 100px;
    height: 100px;
  
    border-radius: 50px;

    position: absolute;
    left: 0;
    right: 0;
    bottom: -40px;
    margin: auto;
  }
}
.addition {
  &__title {
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
  } 

  &__text {
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    margin-bottom: 20px;
    text-align: center;
  }

  &__button {
      text-align: center;
      width: 100%;
  }
}


/* FAQ */
.faq {
  @media @mobiles {
    padding: 0 30px;
  }
  &__title {
    border-radius: 8px;
    background-color: #12affe;
    font-size: 18px;
    line-height: 60px;
    color:#ffffff;
    text-align: center;
    text-transform: uppercase;
  }

  &__list {
    padding: 5px;
    margin: 0;
    list-style: none;
  }

  &__item {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #cccccc;
    padding-right: 15px;
    position: relative;
    
    cursor: pointer;

    &:after {
      content: "";

      width: 8px;
      height: 8px;
      
      border-right: 1px solid #000000;
      border-bottom: 1px solid #000000;
      transform: rotateZ(45deg);
      position: absolute;
      right: 0;
      top:3px;
    }

    

    &--opened {
      .faq__answer {
       max-height: 700px;
       opacity: 1;
      }

      &:after {
        transform: rotateZ(-135deg);
      }
    }
  }

  &__answer {
    transition: all 0.3s ease;
    max-height: 0;
    opacity: 0;
    font-size: 14px;
    p {
      margin-bottom: 5px;
    }
  }
}

/* footer */

.footer {
  height: 55px;
  background-color: #000000;
  color: #ffffff;

  &__copyright {
    font-size: 14px;
    line-height: 55px;

    span {
      display: inline-block;
      padding: 0 15px;
      
      @media @mobiles {
        display: block;
        margin-right: 0;
        margin-bottom: 5px;
        line-height: 31px;
      }
    }
  }

  @media @mobiles {
    height: auto;
  }
}



/* addition */

.pull {
  &--right {
    float: right;

    @media @mobiles {
      float: none;
      text-align: center;
    }
  }


}



.form {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  

  &__block {
    padding:30px 45px;
    
    position: relative;
    margin-bottom: 5px;

    text-align: center;

    background-size: contain;
    background-repeat: no-repeat;
    
    z-index: 10;
    perspective: 600px;
    /*
    &:nth-child(1) {
      background-image: url('../img/formblock-1.png');
    }
    &:nth-child(2) {
      background-image: url('../img/formblock-2.png'); 
    }
    &:nth-child(3) {
      background-image: url('../img/formblock-3.png');
    }*/

  }

  &__block-inner {
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 15px;
    position: absolute;
    width: 100%;
    height: 100%;
    
    left: 0;
    top:0;
    z-index: -1;

    &--1 {
      transform: rotateX(10deg) translateZ(-30px) translateY(-20px);
    }
    &--2 {
      transform: rotateX(-10deg) translateZ(-38px);
    }
    &--3 {
     transform: translateZ(-50px); 
    }
    &--black {
      transform: rotateX(10deg) translateZ(-60px) translateY(-30px) rotateY(-5deg);
      height: 50%;
      width: 95%;
      background-color: #000000;
      z-index: -2;
    }
  }
  
  &__text {
    font-size: 18px; 
    line-height: 28px;
    &--big {
      font-size: 24px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 0px;

      &:last-child {
        margin-bottom: 25px;
      }
    }

    &--small {
      font-size: 12px;
      margin-bottom: 0;
    }

    &--white {
      color: #ffffff;
    }
  }

  &__title {
    font-family: 'Proxima Nova Rg';
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 30px;
    white-space: normal;
    span {
      color:#fc3908; 
    }
  }

  &__btn {
    position: relative;
    margin-bottom: 15px !important;
    width: 300px;
    margin: auto;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
  

    @media @mobiles {
      width: 100%;
    }
    &:before {
      content: "";
      position: absolute;
      left:-110px;
      top:10px;
      width: 65px;
      height: 27px;
      background-image: url('../img/arrow-right.png');
      
      @media @mobiles {
        content: none;
      }
    }
    &:after {
      content: "";
      position: absolute;
      right:-110px;
      top:10px;
      width: 65px;
      height: 27px;
      background-image: url('../img/arrow-left.png');

      @media @mobiles {
        content: none;
      }
    }
  }
}

.orlan {
  &--2 {
    display: block; width: 100%; height: auto; bottom: -65px; position: absolute;

    @media @mobiles {
      display: none;
    }
  }
}

/* unslider */
.unslider-arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  top:0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  font-size: 0;
  display: block;
  
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  &.prev {
    background-image: url('../img/prev.png');
  }
  
  &.next {
    background-image: url('../img/next.png'); 
  }

  @media @mobiles {
    bottom: 0;
    top: auto; 
  }
}



.popup {
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 0px;
  margin-top: 0px;
  margin-top: 150px;
  padding: 30px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  border: 2px solid #000000;
  border-radius: 15px;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.8);
  z-index: 2201;
  display: none;

  &--callback {
    width: 400px;
  }
  &--plan {
    width: 400px;
  }
  &__bg {
    top: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.25);
    z-index: 2000;
    display: none;
  }

  &__close {
    display: block;
    background-color: #fff;
    position: absolute;
    right: -15px;
    top: -15px;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    border: 2px solid #000000;
    line-height: 25px;
    text-decoration: none;
    padding: 0;
  }
}

.payment {
  &__methods {
    display: block;
    list-style: none;
    background-color: #ffffff;

    padding: 0;
    margin: auto;

    text-align: center; 

    border: 2px solid #000000;
    padding: 15px;
    width: 200px;
    height: 125px;
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    box-shadow:  0 0 10px rgba(0,0,0,0.5);
  }
  &__title {
    font-weight: bold;
    margin-bottom: 5px;
    color:#EB3836;
  }
  &__method {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: #12AFFE;
    font-size: 16px;

    &:hover {
      color:#EB3836;
    }
  }
}